# Compare 3 different Finance modules to get Stock market data
- FinanceDataReader
- pykrx
- yfinance

In [1]:
!pip install finance-datareader
!pip install pykrx
!pip install yfinance

Requirement already satisfied: finance-datareader in /opt/conda/lib/python3.9/site-packages (0.9.90)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.9/site-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: lxml in /opt/conda/lib/python3.9/site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: requests-file in /opt/conda/lib/python3.9/site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: requests>=2.3.0 in /opt/conda/lib/python3.9/site-packages (from finance-datareader) (2.26.0)
Requirement already satisfied: pandas>=0.19.2 in /opt/conda/lib/python3.9/site-packages (from finance-datareader) (1.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (2.0.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (1.26.7)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from requests-file->finance-datareader) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Collecting pykrx
  Downloading pykrx-1.0.45-py3-none-any.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 5.6 MB/s
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 10.0 MB/s
Collecting datetime
  Downloading DateTime-5.5-py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 2.3 MB/s
Collecting multipledispatch
  Downloading multipledispatch-1.0.0-py3-none-any.whl (12 kB)
Requirement already satisfied: deprecated in /opt/conda/lib/python3.9/site-packages (from pykrx) (1.2.13)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from pykrx) (2.26.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (from pykrx) (1.21.4)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (from pykrx) (1.3.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.9/site-packages (from pykrx) (3.4.3)
Collecting zope.interface
  Downloading zope.interface-6.4-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     |████████████████████████████████| 246 kB 69.9 MB/s
Requirement already satisfied: pytz in /opt/conda/lib/python3.9/site-packages (from datetime->pykrx) (2021.3)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/conda/lib/python3.9/site-packages (from deprecated->pykrx) (1.12.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.9/site-packages (from matplotlib->pykrx) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib->pykrx) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib->pykrx) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib->pykrx) (8.3.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib->pykrx) (1.3.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests->pykrx) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests->pykrx) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->pykrx) (2.0.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->pykrx) (2.10)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->pykrx) (1.16.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.9/site-packages (from zope.interface->datetime->pykrx) (59.4.0)
Installing collected packages: zope.interface, xlrd, multipledispatch, datetime, pykrx
Successfully installed datetime-5.5 multipledispatch-1.0.0 pykrx-1.0.45 xlrd-2.0.1 zope.interface-6.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Collecting yfinance
  Downloading yfinance-0.2.38-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 397 kB/s
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.9/site-packages (from yfinance) (1.21.4)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 17.5 MB/s
Collecting requests>=2.31
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.8 MB/s
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting pytz>=2022.5
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 62.8 MB/s
Collecting frozendict>=2.3.4
  Downloading frozendict-2.4.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (116 kB)
     |████████████████████████████████| 116 kB 72.1 MB/s
Collecting lxml>=4.9.1
  Downloading lxml-5.2.2-cp39-cp39-manylinux_2_28_x86_64.whl (5.0 MB)
     |████████████████████████████████| 5.0 MB 82.0 MB/s
Requirement already satisfied: pandas>=1.3.0 in /opt/conda/lib/python3.9/site-packages (from yfinance) (1.3.3)
Requirement already satisfied: appdirs>=1.4.4 in /opt/conda/lib/python3.9/site-packages (from yfinance) (1.4.4)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
     |████████████████████████████████| 147 kB 62.4 MB/s
Collecting peewee>=3.16.2
  Downloading peewee-3.17.5.tar.gz (3.0 MB)
     |████████████████████████████████| 3.0 MB 52.7 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.31->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2.0.8)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.5-cp39-cp39-linux_x86_64.whl size=298921 sha256=e0c82322aa365243d3a5c4709385f31f6f9cfe1474ebe237fbd8b0dfb5ffc4d2
  Stored in directory: /aiffel/.cache/pip/wheels/95/bd/4e/15d1893c245357e4d2353e77456c0be9561d1942ed9fe664ca
Successfully built peewee
Installing collected packages: pytz, requests, peewee, multitasking, lxml, html5lib, frozendict, beautifulsoup4, yfinance
  Attempting uninstall: pytz
    Found existing installation: pytz 2021.3
    Uninstalling pytz-2021.3:
      Successfully uninstalled pytz-2021.3
  Attempting uninstall: requests
    Found existing installation: requests 2.26.0
    Uninstalling requests-2.26.0:
      Successfully uninstalled requests-2.26.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.6.3
    Uninstalling lxml-4.6.3:
      Successfully uninstalled lxml-4.6.3
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.0
    Uninstalling beautifulsoup4-4.6.0:
      Successfully uninstalled beautifulsoup4-4.6.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
konlpy 0.5.2 requires beautifulsoup4==4.6.0, but you have beautifulsoup4 4.12.3 which is incompatible.
Successfully installed beautifulsoup4-4.12.3 frozendict-2.4.4 html5lib-1.1 lxml-5.2.2 multitasking-0.0.11 peewee-3.17.5 pytz-2024.1 requests-2.31.0 yfinance-0.2.38
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import FinanceDataReader as fdr
from pykrx import stock
import yfinance as yf

---

# 1. FinanceDataReader
- 현재 시점의 시장별 상장종목 리스트를 가져올 수 있음
- 종목코드, 시장, 종목명, 섹터, 산업군, 상장일, 결산월, 대표자, 홈페이지, 사업체 지역을 알 수 있음
- 과거 특정 시점의 상장종목 리스트는 알 수 없으나 상장폐지 종목을 조회할 수 있음

## 상장종목 조회

In [3]:
stocks = fdr.StockListing('KRX') # 코스피, 코스닥, 코넥스 전체
stocks

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,78400,1,100,0.13,80200,80300,78400,11080677,880293328000,468030951920000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,193000,1,7700,4.16,191100,194000,191100,3132577,604142136700,140504456445000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,383500,2,-2000,-0.52,389000,390000,382500,53659,20745459500,89739000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,785000,1,4000,0.51,786000,791000,785000,29007,22842179000,55871590000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,64700,1,200,0.31,65600,65700,64600,505506,32987530500,53240769490000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,413300,KR7413300005,티엘엔지니어링,KONEX,일반기업부,2400,2,-45,-1.84,2790,2790,2080,279,582680,3133236000,1305515,KNX
2802,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1600,1,105,7.02,1600,1600,1600,11,17600,2527936000,1579960,KNX
2803,217320,KR7217320001,썬테크,KONEX,일반기업부,2405,0,0,0.00,0,0,0,0,0,2525250000,1050000,KNX
2804,236030,KR7236030003,씨알푸드,KONEX,일반기업부,764,5,-134,-14.92,764,994,764,13539,10350613,1553465648,2033332,KNX
2805,308700,KR7308700004,테크엔,KONEX,일반기업부,199,0,0,0.00,0,0,0,0,0,796000000,4000000,KNX

## 주가 조회

In [9]:
start_date = '2000-06-11'
end_date = '2022-03-23'
 
df_fdr = fdr.DataReader('005930', start=start_date, end=end_date)
df_fdr

             Open   High    Low  Close    Volume    Change
Date
2000-06-12   7200   7280   7030   7190    990305  0.024217
2000-06-13   7060   7099   6870   7060    849970 -0.018081
2000-06-14   7230   7639   7089   7640   1260474  0.082153
2000-06-15   7560   7560   6999   7000   1224547 -0.083770
2000-06-16   6900   6960   6710   6740   1329127 -0.037143
...           ...    ...    ...    ...       ...       ...
2022-03-17  71200  71800  70900  71200  17646315  0.011364
2022-03-18  70600  70900  70200  70700  14410038 -0.007022
2022-03-21  70900  71000  69900  69900  11169002 -0.011315
2022-03-22  69900  70500  69900  70300   9402666  0.005722
2022-03-23  70600  71200  70300  70500  12398025  0.002845

[5379 rows x 6 columns]

---

# 2. Pykrx
- 특정 시점의 상장 종목코드 조회 가능
- 해당 종목코드의 종목명을 조회하는 함수가 별도로 존재

## 상장종목 조회

In [8]:
# 날짜를 명시해주지 않으면 가장 최근 영업일의 시장별 종목리스트를 가져옴
tickers = stock.get_market_ticker_list()
tickers[:6], tickers[-6:]

(['095570', '006840', '027410', '282330', '138930', '001460'],
 ['005870', '079980', '005010', '000540', '000545', '003280'])

In [7]:
stock.get_market_ticker_name('005930')

'삼성전자'

## 주가 조회
- adjusted=False로 조회하면 1995-05-02부터 조회되고, 거래대금과 등락률 칼럼이 추가됨

In [10]:
df_pykrx = stock.get_market_ohlcv_by_date(fromdate=start_date, 
                                          todate=end_date,
                                          ticker="005930")
df_pykrx

               시가     고가     저가     종가       거래량       등락률
날짜
2000-06-12   7200   7280   7030   7190    990305  2.421652
2000-06-13   7060   7099   6870   7060    849970 -1.808067
2000-06-14   7230   7639   7089   7640   1260474  8.215297
2000-06-15   7560   7560   6999   7000   1224547 -8.376963
2000-06-16   6900   6960   6710   6740   1329127 -3.714286
...           ...    ...    ...    ...       ...       ...
2022-03-17  71200  71800  70900  71200  17646315  1.136364
2022-03-18  70600  70900  70200  70700  14410038 -0.702247
2022-03-21  70900  71000  69900  69900  11169002 -1.131542
2022-03-22  69900  70500  69900  70300   9402666  0.572246
2022-03-23  70600  71200  70300  70500  12398025  0.284495

[5379 rows x 6 columns]

In [19]:
df_pykrx = stock.get_market_ohlcv_by_date(fromdate=start_date, 
                                          todate=end_date,
                                          ticker="005930",
                                          adjusted=False)
df_pykrx

                시가      고가      저가      종가       거래량           거래대금   등락률
날짜
2000-06-12  360000  364000  351500  359500    990305   354493952500  2.42
2000-06-13  353000  355000  343500  353000    849970   297624230000 -1.81
2000-06-14  361500  382000  354500  382000   1260474   459159333000  8.22
2000-06-15  378000  378000  350000  350000   1224547   445188265000 -8.38
2000-06-16  345000  348000  335500  337000   1329127   452102119000 -3.71
...            ...     ...     ...     ...       ...            ...   ...
2022-03-17   71200   71800   70900   71200  17646315  1258698481050  1.14
2022-03-18   70600   70900   70200   70700  14410038  1017183110700 -0.70
2022-03-21   70900   71000   69900   69900  11169002   784175429300 -1.13
2022-03-22   69900   70500   69900   70300   9402666   660385691100  0.57
2022-03-23   70600   71200   70300   70500  12398025   875833161100  0.28

[5379 rows x 7 columns]

---

# 3. yfinance
- yahoo finance를 데이터 소스로 사용하는 패키지이기 때문에 코스피 종목에는 .KS, 코스닥 종목에는 .KQ를 붙여줘야 함
- 가장 다양한 정보 확인 가능 - 배당정보, 분할정보, 재무정보 등
- 2000년 데이터부터 조회 가능
- end에 설정한 일자의 전일자까지 조회되기 때문에 조회하고자 하는 종료일+1일을 end에 넣어줘야함
- 분단위 데이터도 조회 가능하지만 조회 가능한 기간에 제한이 있음

## 주가 조회

In [11]:
ticker = yf.Ticker('005930.KS')
 
ticker.history(
               interval='1d',
               start=start_date,
               end='2022-03-24',
               actions=True,
               auto_adjust=True)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-06-12 00:00:00+09:00,5267.349943,5325.876054,5142.981959,5260.034180,49515000,0.0,0.0
2000-06-13 00:00:00+09:00,5164.930176,5194.193236,5025.930638,5164.930176,42495000,0.0,0.0
2000-06-14 00:00:00+09:00,5289.296869,5589.243164,5186.876182,5589.243164,63020000,0.0,0.0
2000-06-15 00:00:00+09:00,5530.716387,5530.716387,5121.033691,5121.033691,61225000,0.0,0.0
2000-06-16 00:00:00+09:00,5047.877925,5091.772516,4908.878388,4930.825684,66455000,0.0,0.0
...,...,...,...,...,...,...,...
2022-03-17 00:00:00+09:00,67300.640625,67300.640625,67300.640625,67300.640625,0,0.0,0.0
2022-03-18 00:00:00+09:00,67491.824390,67778.616845,67109.434450,67587.421875,14410038,0.0,0.0
2022-03-21 00:00:00+09:00,67778.631304,67874.228809,66822.656250,66822.656250,11169002,0.0,0.0
2022-03-22 00:00:00+09:00,66822.641314,67396.226218,66822.641314,67205.031250,9402666,0.0,0.0
2022-03-23 00:00:00+09:00,67491.831871,68065.416844,67205.039384,67396.234375,12398025,0.0,0.0

## (참고) 분단위 데이터도 조회 가능
- 단, 최근 1달의 정보만 조회 가능한 듯

In [18]:
# 분단위 데이터 조회. 조회할 수 있는 기간에 제한이 있음
# 마지막행의 데이터는 당일 종가로 조회되는 듯?
df_minute = ticker.history(
               interval='1m',
               start='2024-04-18',
               end='2024-04-19',
               actions=True,
               auto_adjust=True)
df_minute

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-04-18 09:00:00+09:00,78800.0,78900.0,78400.0,78500.0,0,0.0,0.0
2024-04-18 09:01:00+09:00,78400.0,78800.0,78300.0,78700.0,583072,0.0,0.0
2024-04-18 09:02:00+09:00,78700.0,78800.0,78500.0,78600.0,164510,0.0,0.0
2024-04-18 09:03:00+09:00,78600.0,78600.0,78300.0,78400.0,267460,0.0,0.0
2024-04-18 09:04:00+09:00,78400.0,78500.0,78300.0,78400.0,201352,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-18 14:55:00+09:00,79700.0,79700.0,79600.0,79700.0,12869,0.0,0.0
2024-04-18 14:56:00+09:00,79600.0,79700.0,79600.0,79600.0,10306,0.0,0.0
2024-04-18 14:57:00+09:00,79700.0,79700.0,79600.0,79600.0,11148,0.0,0.0
2024-04-18 14:58:00+09:00,79700.0,79700.0,79600.0,79700.0,9269,0.0,0.0
2024-04-18 14:59:00+09:00,79600.0,79800.0,79600.0,79700.0,108220,0.0,0.0

## (참고) 재무정보도 조회 가능

In [13]:
ticker.financials

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Tax Effect Of Unusual Items,-22864080000.0,-25405600000.0,-13557566210.000643,-24113252297.550728
Tax Rate For Calcs,0.24,0.275,0.251995,0.273415
Normalized EBITDA,50698344000000.0,86403532000000.0,88084529000000.0,67351939000000.0
Total Unusual Items,-95267000000.0,-92384000000.0,-53801000000.0,-88193000000.0
Total Unusual Items Excluding Goodwill,-95267000000.0,-92384000000.0,-53801000000.0,-88193000000.0
Net Income From Continuing Operation Net Minority Interest,14473401000000.0,54730018000000.0,39243791000000.0,26090846000000.0
Reconciled Depreciation,38666559000000.0,39107659000000.0,34247361000000.0,30335616000000.0
Reconciled Cost Of Revenue,180388580000000.0,190041770000000.0,166411342000000.0,144488296000000.0
EBITDA,50603077000000.0,86311148000000.0,88030728000000.0,67263746000000.0
EBIT,11936518000000.0,47203489000000.0,53783367000000.0,36928130000000.0
Net Interest Income,3427769000000.0,1957464000000.0,846738000000.0,1391445000000.0
Interest Expense,930253000000.0,763015000000.0,431540000000.0,583013000000.0
Interest Income,4358022000000.0,2720479000000.0,1278278000000.0,1974458000000.0
Normalized Income,14545803920000.0,54796996400000.0,39284034433790.0,26154925747702.449219
Net Income From Continuing And Discontinued Operation,14473401000000.0,54730018000000.0,39243791000000.0,26090846000000.0
Total Expenses,252368518000000.0,258854730000000.0,227970943000000.0,200813112000000.0
Total Operating Income As Reported,6566976000000.0,43376630000000.0,51633856000000.0,35993876000000.0
Diluted Average Shares,6791835289.0,6792853171.0,6793109053.0,6792722208.0
Basic Average Shares,6791835289.0,6792853171.0,6793109053.0,6792722208.0
Diluted EPS,2131.0,8057.0,5777.0,3841.0
Basic EPS,2131.0,8057.0,5777.0,3841.0
Diluted NI Availto Com Stockholders,NaN,NaN,NaN,22929390000000.0
Net Income Common Stockholders,14473401000000.0,54730018000000.0,39243791000000.0,26090846000000.0
Otherunder Preferred Stock Dividend,NaN,NaN,NaN,0.0
Preferred Stock Dividends,NaN,NaN,NaN,3161456000000.0
Net Income,14473401000000.0,54730018000000.0,39243791000000.0,26090846000000.0
Minority Interests,-1013699000000.0,-924059000000.0,-663659000000.0,-316986000000.0
Net Income Including Noncontrolling Interests,15487100000000.0,55654077000000.0,39907450000000.0,26407832000000.0
Net Income Continuous Operations,15487100000000.0,55654077000000.0,39907450000000.0,26407832000000.0
Tax Provision,-4480835000000.0,-9213603000000.0,13444377000000.0,9937285000000.0
Pretax Income,11006265000000.0,46440474000000.0,53351827000000.0,36345117000000.0
Other Non Operating Income Expenses,157431000000.0,-34632000000.0,19997000000.0,-1012429000000.0
Special Income Charges,-224513000000.0,-208074000000.0,-6113000000.0,-244845000000.0
Other Special Charges,224513000000.0,208074000000.0,6113000000.0,244845000000.0
Net Non Operating Interest Income Expense,3427769000000.0,1957464000000.0,846738000000.0,1391445000000.0
Interest Expense Non Operating,930253000000.0,763015000000.0,431540000000.0,583013000000.0
Interest Income Non Operating,4358022000000.0,2720479000000.0,1278278000000.0,1974458000000.0
Operating Income,6566976000000.0,43376630000000.0,51633856000000.0,35993876000000.0
Operating Expense,71979938000000.0,68812960000000.0,61559601000000.0,56324816000000.0
Depreciation And Amortization In Income Statement,2338121000000.0,2239103000000.0,2073051000000.0,2085679000000.0
Amortization,688786000000.0,664346000000.0,543544000000.0,492314000000.0
Depreciation Income Statement,1649335000000.0,1574757000000.0,1529507000000.0,1593365000000.0
Research And Development,28339724000000.0,24919198000000.0,22401726000000.0,21111490000000.0
Selling General And Administration,32678162000000.0,33560956000000.0,29528020000000.0,26084793000000.0
Selling And Marketing Expense,26552163000000.0,27567710000000.0,24687074000000.0,21396523000000.0
General And Administrative Expense,6125999000000.0,5993246000000.0,4840946000000.0,4688270000000.0
Gross Profit,78546914000000.0,112189590000000.0,113193457000000.0,92318692000000.0
Cost Of Revenue,180388580000000.0,190041770000000.0,166411342000000.0,144488296000000.0
Total Revenue,258935494000000.0,302231360000000.0,279604799000000.0,236806988000000.0
Operating Revenue,258935494000000.0,302231360000000.0,279604799000000.0,236806988000000.0

- krx나 naver를 데이터 소스로 사용하는 경우에는 거래량이 액면분할을 고려하지 않은 상태로 조회되고, 
- yahoo finance를 데이터 소스로 사용하는 경우에는 거래량이 액면분할을 고려한 상태로 조회된다